@import '../../__styles__//variables.css';

.dropdown {
  position: relative;
  max-width: var(--dropdown-max-width);
  width: 100%;
}

.dropdown-header {
  padding: var(--dropdown-padding);
  border: 1px solid var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
  background: var(--dropdown-background);
  font-size: var(--dropdown-font-size);
  color: var(--dropdown-color);
  font-weight: var(--dropdown-font-weight);
}

.dropdown-header.open {
  border-color: var(--dropdown-border-color-open);
  border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;
}

.dropdown-body {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--dropdown-border-color-open);
  border-top: none;
  border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
  background: var(--dropdown-body-background);
  z-index: var(--dropdown-body-z-index);
  font-size: var(--dropdown-font-size);
  color: var(--dropdown-body-color);
  font-weight: var(--dropdown-font-weight);
}

.dropdown-search {
  width: calc(100% - 30px);
  margin: var(--dropdown-search-margin);
  padding: var(--dropdown-search-padding);
  border: var(--dropdown-search-border);
  background: var(--dropdown-search-background);
  border-radius: var(--dropdown-search-border-radius);
  font-size: var(--dropdown-font-size);
  color: var(--dropdown-color);
  font-weight: var(--dropdown-font-weight);
}

.dropdown-search::placeholder {
  color: var(--dropdown-color);
}

.dropdown-search:focus {
  outline: none;
  border: var(--dropdown-search-focus-border);
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-option {
  padding: var(--dropdown-option-padding);
  cursor: pointer;
}

.dropdown-option:last-child {
  border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
}

.dropdown-option:hover {
  background: var(--dropdown-option-hover-background);
}

.dropdown-arrow {
  margin-left: var(--dropdown-arrow-margin-left);
  transition: var(--dropdown-arrow-transition);
  color: var(--dropdown-arrow-color);
}

.dropdown-arrow.open {
  transform: var(--dropdown-arrow-open-transform);
}
